body {
    background-color:rgb(2,0,36);
    background: radial-gradient(circle, rgb(192, 191, 191) 0%, rgb(253, 252, 253) 42%, rgb(87, 87, 87) 100%);
    text-align: center;

} 

.container {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1.5fr 1.1fr 1.4fr 0.5fr;
    gap: 2em 2em;
    grid-auto-flow: row;
    grid-template-areas:
      "header header"
      "inter tech"
      "inter tech"
      "assess pjt"
      "footer footer";
  }

/* CSS ANIAMTION */
.cssanimation, .cssanimation span {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.cssanimation span { display: inline-block }

.pepe { animation-name: pepe; animation-iteration-count: infinite }
@keyframes pepe {
    from, 33%, 66%, to { transform: rotate(4deg) }
    16%, 50%, 83% { transform: rotate(-4deg) }
}

.inter,
.tech,
.assess,
.pjt {
    border: .4rem solid rgb(57, 4, 4);
    border-radius: 3rem; 
}

.header,
.footer { 
    border: .4rem solid rgb(57, 4, 4); 
    border-radius: 2.5rem;
}

h1 {
    font-family: 'Tanker', sans-serif;
    text-decoration: underline;
    text-decoration-line: overline;
    text-decoration-color: rgb(101, 3, 3); 
}

h3 {
    text-decoration: underline;
    text-decoration-color: rgb(101, 3, 3);
    text-decoration-thickness: .2rem; 
    text-underline-offset: .5rem;
}

h3,
h4 {
    font-family: 'Britney', cursive;
}

p {
    font-family: 'Pilcrow Rounded', sans-serif; 
}

.header { 
    grid-area: header;
}
  
  .inter { 
    grid-area: inter;   
}
  
  .tech { 
    grid-area: tech;
}
  
  .assess { 
    grid-area: assess; 
}
  
  .pjt { 
    grid-area: pjt; 
 }

 .footer { 
    grid-area: footer;   
}
  
