body {
    background-color: aqua;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Britney', cursive;
    font-family: 'Erode', serif;
    font-family: 'Tanker', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Melodrama', serif;
    font-family: 'Pilcrow Rounded', sans-serif;
    font-family: 'Bonny', serif;
    font-family: 'Amulya', sans-serif;
    font-family: 'New Title', serif;
} 

.container {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1.5fr 1.1fr 1.4fr 0.5fr;
    gap: 1.5em 1em;
    grid-auto-flow: row;
    grid-template-areas:
      "header header"
      "inter tech"
      "inter tech"
      "assess pjt"
      "footer footer";
  }
  
  .header { 
    grid-area: header;
    
    border: 2px solid darkmagenta; 

}

/* CSS ANIAMTION */
.cssanimation, .cssanimation span {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.cssanimation span { display: inline-block }

.pepe { animation-name: pepe; animation-iteration-count: infinite }
@keyframes pepe {
    from, 33%, 66%, to { transform: rotate(4deg) }
    16%, 50%, 83% { transform: rotate(-4deg) }
}


  .footer { 
    grid-area: footer; 
    border: 2px solid darkmagenta; 
}
  
  .inter { 
    grid-area: inter; 
    border: 2px solid darkmagenta; 
}
  
  .tech { 
    grid-area: tech; 
    border: 2px solid darkmagenta; 
}
  
  .assess { 
    grid-area: assess; 
    border: 2px solid darkmagenta; 
}
  
  .pjt { 
    grid-area: pjt;
    border: 2px solid darkmagenta; 
 }
  
