body {
    background: linear-gradient(to right, rgb(52, 51, 51), rgb(103, 103, 103), rgb(110, 97, 79), rgb(137, 119, 94));
}



.container {  display: grid;
    grid-template-columns: 0.6fr 1.8fr 0.6fr;
    grid-template-rows: 0.3fr 0.6fr 2.9fr 0.6fr 0.3fr;
    gap: 1.5em 1.5em;
    grid-auto-flow: row;
    grid-template-areas:
      "header header header"
      "left-panel banner right-panel"
      "left-panel main-content right-panel"
      "left-panel low-content right-panel"
      "footer footer footer";
  }

  #bx_ {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border: 1.5px solid rgb(183, 31, 171);
  }

  #bx_ h1 {
    margin: 0; 
    padding-bottom: 10px; 
    align-self: center;
  }
  
  .header { grid-area: header; }
  
  .banner {
    grid-area: banner;
    background-image: url('../assets/imgs/banner-brian.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: whitesmoke;
  }
  
  .left-panel { grid-area: left-panel; }
  
  .right-panel { grid-area: right-panel; }
  
  .main-content { grid-area: main-content; }
  
  .low-content { grid-area: low-content; }
  
  .footer { grid-area: footer; }
  